<launch>
  <!-- rosbridge -->
  <arg name="port" default="9091"/>
  <arg name="address" default="localhost"/>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="$(arg port)"/>
    <arg name="address" value="$(arg address)"/>
  </include>
  
  <!-- workflow engine blockly -->
  <arg name="server_port" default="$(env CONCERT_WORKFLOW_ENGINE_BLOCKLY_SERVER_PORT)"/>
  <arg name="action_delay" default="$(env CONCERT_WORKFLOW_ENGINE_BLOCKLY_ACTION_DELAY)"/>
  <arg name="publish_delay" default="$(env CONCERT_WORKFLOW_ENGINE_BLOCKLY_PUBLISH_DELAY)"/>
  <arg name="log_level" default="$(env CONCERT_WORKFLOW_ENGINE_BLOCKLY_LOG_LEVEL)"/>
  <node pkg="concert_workflow_engine_blockly" type="concert_workflow_engine_blockly.js" name="workflow_engine_blockly" cwd="node" 
    args="--port $(arg server_port) --rosbridge_port $(arg port) --rosbridge_address $(arg address) --action_delay $(arg action_delay) --publish_delay $(arg publish_delay) --log_level $(arg log_level)">
  </node>
</launch>
