<launch>
  <!-- rosbridge -->
  <arg name="port"/>
  <arg name="address"/>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="$(arg port)"/>
    <arg name="address" value="$(arg address)"/>
  </include>
  
  <!-- workflow engine blockly -->
  <arg name="server_port"/>
  <arg name="action_delay"/>
  <arg name="publish_delay"/>
  <arg name="log_level"/>
  <node pkg="concert_workflow_engine" type="concert_workflow_engine_blockly.js" name="workflow_engine_blockly" cwd="node" 
    args="--port $(arg server_port) --rosbridge_port $(arg port) --rosbridge_address $(arg address) --action_delay $(arg action_delay) --publish_delay $(arg publish_delay) --log_level $(arg log_level)">
  </node>
</launch>
