<div ng-controller="engineDashboardController" ng-cloak>
  <h3>Engines</h3>
  <div class="panel panel-default">
    <div class="panel-heading">Engines</div>

    <table class="table table-bordered">
      <tr>
        <th>Name</th>
        <th>Running</th>
        <th>Actions</th>
      </tr>

      <tr ng-repeat="proc in processes">
        <td>
          <span ng-class="{'label-default': true, 'label-success': proc.status=='running', label: true}">[[proc.status]]</span>
          <strong>[[proc.name]]</strong>
        </td>

        <td>
          <!-- <div ng-if="proc.status == 'running'"> -->
          <!-- </div> -->
          <ul>
            <li ng-repeat="item in proc.running_items">
              [[item.title]]
            </li>
          </ul>
        </td>

        <td>
          <button class="btn btn-sm btn-danger" ng-click="killEngine(proc.pid)">Kill</button>
        </td>


      </tr>

    </table>

  </div>
  <button class="btn btn-default" ng-click="start()">Start</button>


  <h3>Resources</h3>
  <div id="resourcesx">
    <div class="panel panel-default">
      <div class="panel-heading">Resources</div>
      <table class="table table-bordered">

        <tr ng-class="{'success2':(res.requests[0].status == 3)}" ng-repeat="res in resources">
          <td>
            <resource-status-label status="[[res.requests[0].status]]"></resource-status-label>
            [[res.requester]]
          </td>
          <td>[[res.requests[0].availability]]</td>
          <td>[[res.requests[0].priority]]</td>
          <td>[[res.requests[0].resources[0].rapp]]</td>
          <td>[[res.requests[0].resources[0].uri]]</td>
          <td>
              <button class="btn btn-sm btn-info" ng-click="releaseResource(res.requester)">Release</button>
          </td>
        </tr>

      </table>



    </div>
  </div>



  <ul>
    <li ng-repeat="topic in published">
      [[topic.name]] ([[topic.type]]) [[topic.payload | json]]
    </li>
  </ul>

</div>

