<!doctype html>
<html>

<head>

  <title>unquote</title>

  <meta name="viewport" 
  content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <script src="/components/webcomponentsjs/webcomponents.js">
  </script>

  <link rel="import" href="/components/font-roboto/roboto.html">
  <link rel="import" href="/polymer_components/rocon-button.html">
  <link rel="import" href="/polymer_components/rocon-text.html">
  <link rel="import" href="/components/core-signals/core-signals.html">

  <style>
  html,body {
    height: 100%;
    margin: 0;
    font-family: 'RobotoDraft', sans-serif;
  }
  .container {
    width: 80%;
    margin: 50px auto;
  }
  #container {
    height: 100%;

  }
  @media (min-width: 481px) {
    #tabs {
      width: 200px;
    }
    .container {
      width: 400px;
    }
  }
  </style>

</head>

<body unresolved>
  <template id="tpl0" is="auto-binding">
    <core-signals on-core-signal-rocon-component="{{newData}}"></core-signals>
    <style>
    </style>

    {{el | safe}}

  </template>
  <script src="http://cdn.jsdelivr.net/g/superagent"></script>
  <script src="/socket.io/socket.io.js" type="text/javascript"></script>
  <script>
    // TODO fix url
    var io = io('http://localhost:8888/ui');
    io.on('connect', function(data){
      console.log('io connected');

    });
    io.on('data', function(data){
      data = JSON.parse(data.data);
      console.log(data);

      var eid = data.rocon_id;
      var selector = '*[rocon_id='+eid+']';
      console.log(selector);

      var e = document.querySelector(selector);
      console.log(e);

      if(e){
        e.setAttribute(data.attr, data.value);
        console.log('here');

      }
      console.log(data);


    });
    var scope = document.querySelector('#tpl0');
    console.log(scope);

    scope.foo = "Some value"

    scope.change_attr = function(){

    };

    scope.newData = function(e, detail, sender){
      console.log(arguments);

      superagent
        .post('/api/ros/publish')
        .send({topic: '/from-rocon-ui', type: 'std_msgs/String', message: {data: JSON.stringify(detail)}})
        .end(function(e, res){
          console.log(res.text);


        });



    };

    scope.debug = function(e){
      alert('ok');
      scope.foo = ""+new Date();
      scope.color = "blue";


    };
    scope.debug2 = function(e){
      alert('ok2');
      scope.foo = ""+new Date();
      scope.color = "red";


    };
  </script>


 
</body>


</html>
